/* header design */
body nav h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 45px;
}
.orange-color {
  color: #fd6e0a;
}

.cone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
nav ul {
  display: flex;
  align-items: center;
}
.head {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: var(--dark-02, #474747);
}
/* btn primary */
.btn-primary{
  border-radius: 3px;
  background-color:#fd6e0a ;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: 0;
  padding: 8px  24px ;
  color: white;
  
}
