/* header design */
body nav h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 45px;
}
.orange-color {
  color: #fd6e0a;
}

.cone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;

}
nav ul {
  display: flex;
  align-items: center;
}
.head {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* btn primary */
.btn-primary{
  border-radius: 3px;
  background-color:#fd6e0a ;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: 0;
  padding: 8px  24px ;
  color: white;
  
}
/* btn primary2 */
.btn-primary2{
  border-radius: 3px;
  margin-left: 15px;
  font-weight: 600;
  border-color: #fd6e0a ;;
  color: #fd6e0a ;
  padding: 8px  24px ;

}

/* header style  */
.header{
  background-color: #d3edf4fe;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* banner */
 .banner{
  padding: 30px 30px 0px 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic{
  width: 500px;
  text-align: right;
}
.banner-greeting{
  font-size: 35px;
  margin-bottom: 0;
  
}
.hardy{
  font-size: 45px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
}
.description{
  width: 500px;
}
.profile-pic{
 float: right;
}

/* main section style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
/* About section style */

.about{
  padding: 100px;
  border-radius: 10px;
  background-color:  #fff8f3;
  margin-top: 130px ;
}
.section-title, .section-t{
  text-align: center;
  font-size: 35px;
  font-family: 700;
  font-family: "Open Sans";
  color: #181818;
  
}
.section-description{
  text-align: center;
  font-size: 18px;
  font-family: 300;
  font-family: "Open Sans";
  color: #757575;
  
}
/* name,Emai CSS part */

.about-info-container {
  display: flex;
  justify-content: space-around;
 
}
.about-info{
 
  text-align: center; 
}
.info-description{
  font-size: 15px;
  font-weight: 700;
  font-family: "Open Sans";
}
.info-title{
  color: #757575;
}

/* What i do CSS part */
.skill-container{
  display: flex;
  gap: 24px;
}
.section-t{
  margin-top: 130px 0 30 0;
}
#what-i-do-des{
  padding: 0 157px 50px 157px;
}

/* skills CSS */
/* #skill-c{
box-sizing: border-box;
border-radius: 5px;
padding: auto;
} */
.skill{
padding: 30px;
border-radius: 5px;
background-color: #fff;

}

.skill-description{
  color: #757575;
}


.box2:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
/* resume */
.st{
  margin-top: 130px;
}

/* resume section styles */

.resume-collumn-title{

  font-size: 30px;
  font-weight: 700;

}

.resume-collumn{
  display: flex;
}